body {
    font-family: Arial;
    padding-top: 100px;
    background-color:white;
    background-image:url("/static/images/commerce.jpg"); 
    width:100%;
    height:100%;
    
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: red;
}

.icon-bar {
    background-color: red;
}

.accountform {
    padding-top: 20px;
}

.navbar{
    background-color:#00d4ad;
    font-style: oblique;
    animation: opacity 2s ease-in-out infinite;

}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.my_class{
    color: green;
}
    

.navbar-brand{
font-size: 30px;    
}

.products{
    font-style:italic;
    /*font-style: oblique;*/
    color:red;
}

.profile{
    text-decoration: underline;
    background-color:green;
    color:red;
    font-size: 20px !important;
}

.name{
    /*margin-left:100px;*/
    color:red;
}

.made{
    font-size: 50px;
}

.review{
    color:red;
    font-style: italic;
    margin-top:35px;
    text-decoration: underline;
    
}

.review1{
    color:red;
    font-style: italic;
    margin-top:35px;
    
    
}


.watch{
    color:red;
}

.boldtext{
    color:red;
    font-size: 30px;
}

.title{
    color:red;
    font-size: 30px;
}


.submit{
    border-radius: 10px;
    color:chocolate;
}

#button{
    border-radius: 12px;
    color: #1000fff0;
    background-color: yellow;
}

