{% extends "base.html" %} {% block content %}


<div class="row">
    <div class="col-sm-10 col-md-9">
        <h3 class="watch">{{ product.name }}</h3>

        {% if product.image %}
        <img src="{{ MEDIA_URL }}{{ product.image }}" /> {% endif %}

        <div class="row">
            <div class="col-xs-9">
                <p>{{ product.description | linebreaksbr }}</p>
                <p><span class="boldtext"><strong>Brand:</strong> {{ product.brand }} </span></p>
                <p><span class="boldtext"><strong>Price:</strong> €{{ product.price }}</span></p>
                <!--<p><span class="boldtext"><strong>Sku:</strong></span> {{ product.sku }} </p>-->
                <!--<p><span class="boldtext"><strong>Stock:</strong></span> {{ product.stock }} </p>-->
                <!--<p><span class="boldtext">Published on:</span> {{ product.review.published_date }} </p>-->
                <!--<p><a href="#" class="btn btn-default">Read more</a></p>-->

                <a href="{% url 'view_products' %}" id="button" class="btn btn-default">Back to Product list</a>

            </div>
        </div>
    </div>
</div>



<h1 class="review1">REVIEWS</h1>

<form method="POST" action="{% url 'add_review' product.id %}">
    {% csrf_token %}
    {% for field in form %}
        <label class="my_class" for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
    {% endfor %}
    <input class="submit" type="submit" value="Leave Review"/>
</form>

{% for review in product.reviews.all %}
<h2 class="review">{{ review.title }} :</h2>

<h3 class="review1">{{ review.content}}</h2>

<h3 class="review1">{{review.date}}</h2>
{% endfor %} {% endblock %}
